# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\emman\Desktop\aral\aral\3rd Year\AppDev\UnitTesting(JUnit,Jacoco,Maven)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
